@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
 padding: 0;
 margin: 0;
}

body {
 font-family: 'Red Hat Display', sans-serif;
 background: url(/images/pattern-background-desktop.svg);
 background-color: var(--primary-pale-blue);
 background-repeat: no-repeat;
 background-size: 100%;
}

:root {
 --primary-pale-blue: hsl(225, 100%, 94%);
 --primary-bright-blue: hsl(245, 75%, 52%);
 --neutral-very-pale-blue: hsl(225, 100%, 98%);
 --neutral-desaturated-blue: hsl(224, 23%, 55%);
 --neutral-dark-blue: hsl(223, 47%, 23%);
}

#content {
 max-width: 1440px;
 height: 100vh;
 align-items: center;
}

#content .main {
 margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 background-color: white;
 width: 450px;
 border-radius: 20px;
 overflow: hidden;
 box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* --------FIRST SECTION----------- */
.content {
 margin: 40px 50px 20px 50px;
}

.content h2{
 padding-bottom: 15px;
 font-weight: 900;
 font-size: 28px;
}

.content p{
 font-size: 16px;
 line-height: 1.5;
 font-weight: 500;
 color: var(--neutral-desaturated-blue);
}

/* --------SECOND SECTION----------- */
.plan {
 display:flex;
 flex-direction: row;
 background-color: var(--neutral-very-pale-blue);
 margin: 0 50px;
 padding: 20px;
 border-radius: 10px;
}

.plan .plan-price{
 display:flex;
 flex-direction: column;
 align-self: center;
 padding: 0 20px;
 margin: 0 0;
}

.plan .plan-price strong {
 font-weight: 900;
 padding-bottom: 4px;
}

.plan .plan-price p{
 color:var(--neutral-desaturated-blue);
}

.plan .change {
 display: flex;
 flex-direction: column;
 align-self: center;
 margin: 0 0 0 auto;
 font-size: 0.8em;
}

.plan .change a {
 color: var(--primary-bright-blue);
 font-weight: 700;
}

.plan .change a:active{
 text-decoration: none;
 opacity: 0.7;
}


/* --------THIRD SECTION----------- */
.btn-proceed {
 margin: 30px 0;
}

.main .btn-proceed button{
  width: 350px;
  padding: 15px 0;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: var(--primary-bright-blue);
  font-weight: 700;
  box-shadow: -5px 20px 20px var(--primary-pale-blue);
  cursor: pointer;
  transition: 400ms ease-out;
}

.main .btn-proceed button:active {
 opacity: 0.7;
 transition: 20ms ease-in;
}

.main .btn-cancel button{
  border: none;
  color: var(--neutral-desaturated-blue);
  background-color: transparent;
  font-weight: 900;
  margin-bottom: 50px;
  cursor: pointer;
}

.main .btn-cancel button:active{
 color: var(--neutral-dark-blue);
}

